name: PyPI release

on:
  push:
    # Publish tagged releases.
    tags:
      - '*'

permissions:
  contents: read

jobs:
  pypi-publish:
    name: Build and publish release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/webtemplate-dbca/
    permissions:
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install uv build tool
        uses: astral-sh/setup-uv@v7
      - name: Build project package
        run: uv build
      - name: Publish package distributions to PyPI
        run: uv publish --trusted-publishing always
